/* Set max width of the content */
.wy-nav-content {
	max-width: 1000px;
}

/* See https://github.com/GenericMappingTools/gmt/pull/1605 */
.rst-content dl dt {
	font-weight: normal;
}

body {
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: 1.05em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-weight: "normal"
}



/* Atkinson Hyperlegible regular */
@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("./fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* Atkinson Hyperlegible bold */
@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("./fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format('woff2');
	font-weight: bold;
	font-style: normal;
}

/* Atkinson Hyperlegible italic */
@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("./fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format('woff2');
	font-weight: normal;
	font-style: italic;
}

/* Atkinson Hyperlegible bold italic */
@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("./fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format('woff2');
	font-weight: bold;
	font-style: italic;
}
